* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.transition, .menu-item:after, .slick-prev.slick-arrow, .slick-next.slick-arrow {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.mask-bg {
  background: url(../img/mask-bg.png) repeat center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; }

.main-title {
  display: inline-block;
  font: 24px 'Amaranth-Regular';
  padding-left: 15px;
  margin-bottom: 20px; }
  .main-title span:after {
    content: "";
    position: absolute;
    top: 13px;
    right: 30px;
    display: inline-block;
    width: 82%;
    height: 5px;
    background: url(../img/devider.png) repeat; }

@font-face {
  font-family: 'Archer-BookItalic';
  src: url("Archer-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Archer-BookItalic.otf") format("opentype"), url("../fonts/Archer-BookItalic.woff") format("woff"), url("../fonts/Archer-BookItalic.ttf") format("truetype"), url("../fonts/Archer-BookItalic.svg#Archer-BookItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amaranth-Regular';
  src: url("../fonts/Amaranth-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Amaranth-Regular.otf") format("opentype"), url("../fonts/Amaranth-Regular.woff") format("woff"), url("../fonts/Amaranth-Regular.ttf") format("truetype"), url("../fonts/Amaranth-Regular.svg#Amaranth-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amaranth-Italic';
  src: url("../fonts/Amaranth-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Amaranth-Italic.otf") format("opentype"), url("../fonts/Amaranth-Italic.woff") format("woff"), url("../fonts/Amaranth-Italic.ttf") format("truetype"), url("../fonts/Amaranth-Italic.svg#Amaranth-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

.about-page {
  background: url(../img/about-bg.png) no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.about {
  position: relative; }

.about-title {
  color: #8a9d54; }

.about-left {
  height: 279px;
  background: url(../img/mask2.png) repeat;
  margin-bottom: 20px;
  padding: 10px; }
  .about-left .about-img {
    background: url(../img/portfolio-img.png) repeat center;
    width: 100%;
    height: 260px; }

.about-text__tx, .about-text li {
  font: 13px/20px "Arial", sans-serif;
  color: #8a8a8a; }

.about-text__header {
  font: 17px 'Amaranth-Regular';
  color: #8a9d54;
  margin-bottom: 15px; }

.portfolio-page {
  background: url(../img/portfolio-bg.png) no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 28px;
  padding-bottom: 28px; }

.logo a {
  font: 28px 'Archer-BookItalic';
  color: #a7a7a7;
  text-decoration: none; }

.main-menu {
  float: right;
  padding-top: 8px; }
  .main-menu ul {
    list-style-type: none;
    font-size: 0;
    padding-top: 10px;
    margin: 0;
    padding: 0; }

.menu-item {
  position: relative;
  display: inline-block;
  margin-right: 28px; }
  .menu-item:last-child {
    margin-right: 0; }
  .menu-item:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #a7a7a7; }
  .menu-item:hover:after {
    opacity: 1; }
  .menu-item a {
    font: 16px 'Amaranth-Regular';
    color: #a7a7a7; }

.main-bg {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px; }

.portfolio {
  position: relative; }

.portfolio-title {
  color: #97803d; }

.portfolio-block {
  height: 230px;
  background: url(../img/mask2.png) repeat;
  margin-bottom: 20px;
  padding: 10px; }
  .portfolio-block .portfolio-image {
    background: url(../img/portfolio-img.png) repeat center;
    width: 100%;
    height: 211px; }

.control-buttons {
  text-align: center;
  height: 10px;
  line-height: 10px;
  vertical-align: middle; }

.slick-prev.slick-arrow, .slick-next.slick-arrow {
  font: 14px 'Amaranth-Italic';
  color: #97803d;
  cursor: pointer; }
  .slick-prev.slick-arrow:hover, .slick-next.slick-arrow:hover {
    color: #4e4220; }
  .slick-prev.slick-arrow:focus, .slick-next.slick-arrow:focus {
    border: 0;
    outline: 0; }

.control-points {
  text-align: center; }
  .control-points span {
    font: 14px 'Amaranth-Italic';
    color: #97803d; }

.slick-prev.slick-arrow {
  position: absolute;
  bottom: -22px;
  left: 44%; }
  .slick-prev.slick-arrow:before {
    content: "\00AB";
    padding-right: 2px; }

.slick-next.slick-arrow {
  position: absolute;
  bottom: -22px;
  right: 44%;
  margin-left: 20px; }
  .slick-next.slick-arrow:after {
    content: "\00BB";
    padding-left: 2px; }

.slick-slide:focus {
  border: 0;
  outline: 0; }

footer {
  padding-top: 15px; }

.footer-text {
  font: 11px "Arial", sans-serif;
  color: #dfdfdf;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.44);
  padding-bottom: 200px;
  text-align: center; }

@media screen and (max-width: 950px) {
  .main-title {
    display: block;
    font: 24px 'Amaranth-Regular';
    margin-bottom: 20px;
    padding-right: 15px; }
    .main-title:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 5px;
      background: url(../img/devider.png) repeat; }
    .main-title span:after {
      content: "";
      display: none; }
  .slick-prev.slick-arrow {
    left: 41%; }
  .slick-next.slick-arrow {
    right: 41%; } }

@media screen and (max-width: 640px) {
  .logo {
    text-align: center; }
  .main-menu {
    text-align: center;
    float: none; }
  .main-title {
    padding-left: 8px;
    padding-right: 10px; }
  .slick-prev.slick-arrow {
    left: 36%; }
  .slick-next.slick-arrow {
    right: 36%; } }
